@use "./breakpoints";

// ================================================
//  共通css登録
// ================================================

// font
$font-family-jp: "Noto San JP", sans-serif;
$font-family-en: "Oswald", serif;

$font-size-sp: 14px;
$font-size-pc: 15px;

$font-weight-base: 400;
$line-height: 1.6;

// color
$color1: #f3f0eb;
$color2: #d7cdbe;
$color3: #795549;
$color4: #c7c4c4;
$color5: #96b3d1;

// その他↓

// js用:ハンバーガーメニュー展開中のスクロール禁止
.no-scroll {
  overflow: hidden;
}

// 共通クラス指定
.body-wrapper {
  overflow: hidden;
}

// フォントサイズ
.common_font_size {
  font-size: $font-size-sp;

  @media (min-width: 900px) {
    font-size: $font-size-pc;
  }
}

.inner {
  padding-left: 20px;
  padding-right: 20px;

  @include breakpoints.mq(pc) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

// sp時に非表示
.hidden-sp {
  @include breakpoints.mq(sp) {
    display: none;
  }
}

// pc時に非表示
.hidden-pc {
  @include breakpoints.mq(pc) {
    display: none;
  }
}

// 430px以上のときに非常時（about me用）
.hidden-430px {
  @media (min-width: 430px) {
    display: none;
  }
}

// セクション要素のふわっと表示
.fade_in_up {
  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 1s,
    transform 1s;

  &.js_in_view {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade_in_down {
  opacity: 0;
  transform: translateY(-24px);
  transition:
    opacity 1s,
    transform 1s;

  &.js_in_view {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade_in {
  opacity: 0;
  transition: opacity 1s;

  &.js_in_view {
    opacity: 1;
  }
}
