@import "tailwindcss";

/* v4 ではここでトークン定義する */
@theme {
  /* ブレークポイント */
  --breakpoint-pc: 768px;
  /* --breakpoint-ssp: (max-width: 374px);
  --breakpoint-sp: (max-width: 767px); */
  /* --breakpoint-sm: 640px; min-width:640px */
  /* --breakpoint-tb: (min-width: 768px) and (max-width: 899px); */

  /* フォント（v3の fontFamily.extend 相当） */
  --font-en: "Oswald", serif;
}

/* About Me のデコーレーション */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
