@use "../../../styles/breakpoints";
@use "../../../styles/common-css";

// ================================================
// sp）ドロワーメニュー
// ================================================

.drawer__menu {
  width: 100%;
  height: 100dvh;
  background: #d7cdbe;
  font-family: "Oswald", serif;
  color: #795549;
  font-size: 20px;

  transform: translateY(-100%);
  transition:
    transform 1s,
    visibility 1s;
  position: fixed;
  top: 0;

  z-index: 100;
  opacity: 0.9;

  // 追加_20251005
  visibility: hidden;
  pointer-events: none;

  &.is_checked {
    transform: translateY(0%);

    // 追加_20251005
    visibility: visible;
    pointer-events: auto;
  }

  @include breakpoints.mq(sm) {
    display: none;
  }
}

.sns__icon_animation {
  img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;

    @media (min-width: 600px) {
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

// ================================================
// pc）ドロワーメニュー
// ================================================
.drawer__menu_pc {
  display: none;

  width: 230px;
  height: 400px;
  background: #d7cdbe;
  font-family: "Oswald", serif;
  color: #795549;
  font-size: 16px;
  border-radius: 0px 0px 0px 40px;

  transform: translateY(-105%);
  transition:
    transform 1s,
    visibility 1s;
  position: fixed;
  top: 0;
  right: 0;

  z-index: 100;

  box-shadow: -7px 7px 15px 0px rgba(0, 0, 0, 0.25);

  // 追加_20251005
  visibility: hidden;
  pointer-events: none;

  &.is_checked {
    transform: translateY(0%);

    // 追加_20251005
    visibility: visible;
    pointer-events: auto;
  }

  @include breakpoints.mq(sm) {
    display: block;
  }
}

.drawer__menu_pc__contents {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer__nav_pc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawer__nav__link_pc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.drawer__nav__link_wrapper_pc {
  width: 120px;
  display: flex;
  gap: 30px;

  img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
  }

  span {
    transition: transform 0.3s;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #795549;
      scale: 0;
      transform-origin: right center;
      transition: scale 0.5s ease;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      span {
        transform: scale(1.15);

        &::after {
          scale: 1;
          transform-origin: left center;
          transition: scale 0.5s ease;
        }
      }

      img {
        transform: scale(1.15);
      }
    }
  }
}
