@use "../../../../styles/breakpoints";

.slide {
  width: 192px;
  height: 320px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoints.mq(sm) {
    padding-top: 50px;
    height: 350px;
  }
}
