.slide {
  width: 280px;
  height: 280px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    height: 300px;
  }
}


/* 器の位置 */
:global(.swiper-pagination.swiper-pagination-horizontal) {
  bottom: -5px;
}

/* 通常のドット */
:global(.swiper-pagination-bullet) {
  opacity: 1;
  width: 12px;
  height: 12px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #d7cdbe;
  margin-inline: 5.5px;
}

/* アクティブのドット */
:global(.swiper-pagination-bullet-active) {
  background: #795549;
}
